.DS_Store
gamelog.txt
main
player_infinite
player_invalid
player_partial
player_random
player_kuma
statistics
parameter_test
tmpout
para.txt
decision.txt
winner.txt
player_kuma_ABpara
player_kuma_AlphaBeta
player_kuma_MCTS
player_kuma_MCTS_Reversi
player_kuma_MCTS_Timever
player_kuma_MCTS_Timever_Reversi
player_kuma_MiniMax
player_kuma_Reversi
src_test/.
src_test
action
state
state2
state3
gamelog_w5.txt
last3.txt
last4.txt
